<div class="main-page">
  <div class="body">
    <div class="card-container table">
      <div class="card" >
        <app-trips-table class="fill-all"></app-trips-table>
      </div>
    </div>
    <div class="col">
      <div class="card-container form component-size">
        <div class="card" >
          <app-form class="fill-all"></app-form>
        </div>
      </div>

      <div class="card-container map component-size top-space" >
        <div class="card" >
        <!--  <span>Map</span>-->
          <app-map class="fill-all"></app-map>
        </div>
      </div>
    </div>
  </div>
