.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;

  width: 100%;
  margin: 0 8px 2em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card) {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card) .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}



/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }


}

.body {
  height: 87%;
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-page{
  height: 100%;
  width: 100%;
  align-items: center;
  background-size: cover ;
  background-image: url(/assets/sky.jpg);
}

.table {
  width: 120em;
  height: 100%;
}

.component-size{
  width: 100%;
  height: 50%;
}

/*.form{
  width: 52em;
  height: 57em;
}*/

.map {

}

.fill-all {
  width: 100%;
  height: 100%;
}

.top-space{
  margin-top: 1em ;
}
